@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  color: gray;
  background-color: white;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.hidden {
  visibility: collapse;
  opacity: 0.0;
}

.title {
  font-size: 150px;
  color: #6a6a6a;
  text-align: center; 
  margin: 0 auto;
}

.title-alternate {
  color: #bababa;
}

#container {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

#teaser {
  text-align: center;
}

#teaser img {
  margin: 10px;
  width: 140px;
  height: 140px;
}

#bientot {
  text-align: center;
}

#bientot div {
  margin-top: 50px;  
}
