---
layout: magazine
---

<div class="columns is-gapless">
    <div class="column is-12">
			{% if page.banner %}
			<img src="{{ page.banner }}"/>
			{% else %}
			<img id="banner" src="/assets/banners/0.jpg"/>
			{% endif %}
    </div>
  </div>
  
<div class="columns">
			<div class="column is-8 actual-content">
				{{ content }}

				{% if page.comments %}
				<div id="disqus_thread"></div>				
				<script>
				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				var disqus_config = function () {
				this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://fredericlavigne.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				{% endif %}
			</div>
			<div class="column is-4">
				<div class="ads" data-ad-type="skyscraper"></div>
				<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=f378e126-bae0-4441-8159-44e57af3e874"></script>
			</div>
		</div>
  </div>
